<!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <header id="page-title"> <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
        <!--
          Enable only if bright background image used
          <span class="overlay"></span>
        -->

        <div class="container">
          <h1>Events</h1>

          <ul class="breadcrumb">
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/tasks/:id">Task Details</a></li>
            <li class="active">Task Details</li>
          </ul>
        </div>
      </header>

      <section class="container">
        <h2><strong>How you can volunteer</strong> </h2>

        <p class="lead">You can easily find out what needs doing and volunteer right here. </p>
          

        <a href="/tasks/new" button type="button" class="btn btn-primary">Add Task</button> </a>
      

           

        <div class="divider"><!-- divider -->
          <i class="fa fa-star"></i>
        </div>
         

<h2> Location: <%= @task.event.location %></h2>
<p> Start Date: <%= @task.event.start_date %></p>
<p> End Date: <%= @task.event.end_date %></p>
<p> Start Time: <%= @task.start_time %></p>
<p> End Time: <%= @task.end_time %></p>
<p> Created By: <%= @task.created_by %></p>
<p> Direct Questions to: <%= @task.event_owner %></p>
<p> Task Status: <%= @task.status %></p>
