 <!--WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <header id="page-title"> <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
        <!--
          Enable only if bright background image used
          <span class="overlay"></span>
        -->

        <div class="container">
          <h1>Church Directory</h1>

          <ul class="breadcrumb">
            <li><a href="/users">Users</a></li>
            <li><a href="/users">Church Directory</a></li>
            <li class="active">Full Detail</li>
          </ul>
        </div>
      </header>

      <section class="container">
        <h2><strong>Church Directory</strong> </h2>

        <p class="lead">Contact Information at your fingertips. </p>
          
     


           

        <div class="divider"><!-- divider -->
          <i class="fa fa-star"></i>
        </div>
 

<% @users.each do |user| %>
<div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr class="succcess">
  <th><h3><a href="/users/<%= user.id %>"><%= user.id %></a></h3></th>
  <th><h2><strong><%= user.first_name %></strong></h2></th>
  <th><h2><strong><%= user.last_name %></strong></h2></th>
  <th><p> Phone: <%= user.phone %></p></th>
  <th><p> Email: <%= user.email %></p></th>
   </tr class=>
  </thead>
    </tbody>
      </table>
      </div>


  <% end %>


