<h1> All Events </h1>
<% @events.each do |event| %>
  <h2><a href="/events/<%= event.id %>"><%= event.name %></a></h2>
  <h3> Location: <%= event.location %></h3>
  <p> Date Time: <%= event.datetime %></p>
  <p> Adult Price: <%= event.price_adult %></p>
  <p> Child Price: <%= event.price_child %></p>
  <% end %>