
<!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <header id="page-title"> <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
        <!--
          Enable only if bright background image used
          <span class="overlay"></span>
        -->

        <div class="container">
          <h1>Events</h1>

          <ul class="breadcrumb">
            <li><a href="/events/:id">Event</a></li>
            <li><a href="/events">Event Details</a></li>
            <li class="active">Event Info</li>
          </ul>
        </div>
      </header>

      <section class="container">
        <h2><strong>Event Details</strong> </h2>
    
        <a href="/events/:id">Delete Event</a>
         <a href="/events/:id/">Update Event</button> </a>


        <div class="divider"><!-- divider -->
          <i class="fa fa-star"></i>
        </div>

         

<div>
<h2><%= @event.name %></h2>
<h3>Categories<h3>
<ul>
<% @event.categories.each do |category| %>
<li><%= category.name %></li>
<% end %>
</ul>
</div>
<h2> Location: <%= @event.location %></h2>
<p> Start Date: <%= @event.start_date %></p>
<p> End Date: <%= @event.end_date %></p>
<p> Start Time: <%= @event.start_time %></p>
<p> End Time: <%= @event.end_time %></p>
<p> Price Adult: <%= @event.price_adult %></p>
<p> Price Child: <%= @event.price_child %></p>

 