<!DOCTYPE html>
<html>
  <head>
    <title>Uccline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8" />
    <title>Atropos - Responsive Multipurpose</title>
    <meta name="keywords" content="HTML5,CSS3,Template" />
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/superslides.css" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER -->
    <link href="/assets/plugins/slider.revolution.v4/css/settings.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/layout-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/color_scheme/red.css" rel="alternate stylesheet" type="text/css" title="red" />
    <!-- orange: default style -->
    <!--<link id="css_dark_skin" href="assets/css/layout-dark.css" rel="stylesheet" type="text/css" />--><!-- DARK SKIN -->
 

    <!-- Morenizr -->
    <script type="text/javascript" src="/assets/plugins/modernizr.min.js"></script>
  </head>

  <body> 
    <!-- Top Bar -->
    <header id="topHead">
      <div class="container">

        <!-- PHONE/EMAIL -->
        <span class="quick-contact pull-left">
          <i class="fa fa-phone"></i> 1-773-725-0121 &bull; 
          <a class="hidden-xs" href="mailto:mail@yourdomain.com">ccjp5320@att.net</a>
        </span>
        <!-- /PHONE/EMAIL -->

        <!-- LANGUAGE -->
        <div class="btn-group pull-right hidden-xs">
          <button class="dropdown-toggle language" type="button" data-toggle="dropdown">
            <img src="/assets/images/flags/us.png" width="16" height="11" alt="EN Language" /> English <span class="caret"></span>
          </button>

          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <img src="/assets/images/flags/us.png" width="16" height="11" alt="EN Language" /> [US] English
              </a>
            </li>
            
            <li>
              <a href="#">
                <img src="/assets/images/flags/fr.png" width="16" height="11" alt="FR Language" /> [FR] French
              </a>
            </li>
             
          </ul>
        </div>
        <!-- /LANGUAGE -->


        <!-- SIGN IN -->
        <div class="pull-right nav signin-dd">
          <a id="quick_sign_in" href="/login" data-toggle="dropdown"><i class="fa fa-users"></i><span class="hidden-xs"> Sign In</span></a>
          <div class="dropdown-menu" role="menu" aria-labelledby="quick_sign_in">

            <h4>Sign In</h4>
            <form action="/login" method="post" role="form">

              <div class="form-group"><!-- email -->
                <input required type="email" class="form-control" placeholder="Username or email">
              </div>

              <div class="input-group">

                <!-- password -->
                <input required type="password" class="form-control" placeholder="Password">
                
                <!-- submit button -->
                <span class="input-group-btn">
                  <button class="btn btn-primary">Sign In</button>
                </span>

              </div>

              <div class="checkbox"><!-- remmember -->
                <label>
                  <input type="checkbox"> Remember me &bull; <a href="/login">Forgot password?</a>
                </label>
              </div>

            </form>

            <hr />
            
            <a href="#" class="btn-facebook fullwidth radius3"><i class="fa fa-facebook"></i> Connect With Facebook</a>
            <a href="#" class="btn-twitter fullwidth radius3"><i class="fa fa-twitter"></i> Connect With Twitter</a>
            <!--<a href="#" class="btn-google-plus fullwidth radius3"><i class="fa fa-google-plus"></i> Connect With Google</a>-->

            <p class="bottom-create-account">
              <a href="/signup">Manual create account</a>
            </p>
          </div>
        </div>
        <!-- /SIGN IN -->

        <!-- CART MOBILE BUTTON -->
        <a class="pull-right" id="btn-mobile-quick-cart" href="shop-cart.html"><i class="fa fa-shopping-cart"></i></a>
        <!-- CART MOBILE BUTTON -->

        <!-- LINKS -->
        <div class="pull-right nav hidden-xs">
          <a href="/about"><i class="fa fa-angle-right"></i> About</a>
          <a href="/contact"><i class="fa fa-angle-right"></i> Contact</a>
        </div>
        <!-- /LINKS -->

      </div>
    </header>
    <!-- /Top Bar -->

    <!-- TOP NAV -->
    <header id="topNav" class="topHead"><!-- remove class="topHead" if no topHead used! -->
      <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
          <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
              <li class="dropdown active">
                <a class="dropdown-toggle" href="/">
                  Home <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a href="/">Home</a>
                    <ul class="dropdown-menu">
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/contact">Contact Us</a></li>
                      <li><a href="#">Join Us for Worship?</a></li>
                      <li><a href="/staff">Staff</a></li>
                      <li><a href="revolution-official-1.html">Visitation/Prayer Requests</a></li>
                    </ul>
                  </li>
                  <li><a href="/events" data-toggle="tooltip" data-placement="top" title="" data-original-title="Events"><span class="label label-danger">Events</span></a></li>
                  <li class="dropdown-submenu"><a href="/events">All Events</a>
                    <ul class="dropdown-menu">
                     <% Category.all.each do |category| %>
                      <li><a href="/events?category=<%= category.name %>"><%= category.name %></a></li>
                      <% end %>
                      <li><a href="/events/:id/edit">Update Event Info</a></li>
                      <li><a href="/events/:id/edit">Delete Event</a></li>
                      <li><a href="#">Calendar View</a></li>
                    </ul>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">My Events</a></li>
                  <li><a href="#">My Volunteer Tasks</a></li>
                  <li><a href="#">My Church Directory</a></li>
                  <li><a href="realestate-home.html">My Financial Contributions</a></li>
                  <li class="divider"></li>
                  <li><a href="onepage-superslides.html" target="_blank">Onepage - Superslides</a></li>
                  <li><a href="onepage-revolution.html" target="_blank">Onepage - Revolution</a></li>
                  <li><a href="index-more.html">More...</a></li>
                </ul>
              </li>
              <li class="dropdown mega-menu-item mega-menu-two-columns">
                <a class="dropdown-toggle" href="#">
                  Pages <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">

                        <div class="col-md-6">
                          <ul class="sub-menu">
                            <li>
                              <ul class="sub-menu">

                                <li><a href="shortcodes-rows.html"><i class="fa fa-star-o"></i> Shortcodes</a></li>
                                <li><a href="page-about-us.html"><i class="fa fa-check-square-o"></i> About Us</a></li>
                                <li><a href="page-about-me.html"><i class="fa fa-check-square-o"></i> About Me</a></li>
                                <li><a href="page-team.html"><i class="fa fa-check-square-o"></i> Team</a></li>
                                <li><a href="page-services.html"><i class="fa fa-check-square-o"></i> Services</a></li>
                                <li><a href="page-faq.html"><i class="fa fa-check-square-o"></i> FAQ</a></li>
                                <li><a href="page-support.html"><i class="fa fa-check-square-o"></i> Support</a></li>
                                <li><a href="page-privacy-policy.html"><i class="fa fa-check-square-o"></i> Privacy Policy</a></li>
                                <li><a href="page-terms-and-conditions.html"><i class="fa fa-check-square-o"></i> Terms Page</a></li>
                                <li><a href="page-invoice.html"><i class="fa fa-check-square-o"></i> Invoice</a></li>
                                <li class="dropdown-submenu">
                                  <a href="#"><i class="fa fa-check-square-o"></i> Contact</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="contact-us.html">Version 1</a></li>
                                    <li><a href="contact-us-2.html">Version 2</a></li>
                                    <li><a href="contact-us-3.html">Version 3</a></li>
                                    <li><a href="contact-us-4.html">Version 4</a></li>
                                  </ul>
                                </li>
                                <li><a href="page-sitemap.html"><i class="fa fa-sitemap"></i> Sitemap</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>

                        <div class="col-md-6">
                          <ul class="sub-menu">
                            <li>
                              <ul class="sub-menu">
                                <li><a href="page-testimonials.html"><i class="fa fa-check-square-o"></i> Testimonials</a></li>
                                <li><a href="page-pricing.html"><i class="fa fa-check-square-o"></i> Pricing</a></li>
                                <li><a href="page-pricing-extended.html"><i class="fa fa-check-square-o"></i> Pricing Extended</a></li>
                                <li><a href="page-signin.html"><i class="fa fa-check-square-o"></i> Login</a></li>
                                <li><a href="page-signup.html"><i class="fa fa-check-square-o"></i> Register</a></li>
                                <li><a href="page-404.html"><i class="fa fa-check-square"></i> 404 Error</a></li>
                                <li><a href="page-maintenance.html"><i class="fa fa-check-square"></i> Maintenance</a></li>
                                <li class="dropdown-submenu">
                                  <a href="#"><i class="fa fa-check-square"></i> Coming Soon</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="page-coming-soon-image.html">Coming Soon - Image</a></li>
                                    <li><a href="page-coming-soon-video.html">Coming Soon - Video</a></li>
                                  </ul>
                                </li>
                                <li class="dropdown-submenu">
                                  <a href="#"><i class="fa fa-check-square"></i> Custom Header</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="page-header-basic.html">Basic</a></li>
                                    <li><a href="page-header-image.html">Image</a></li>
                                    <li><a href="page-header-overlay1.html">Overlay 1</a></li>
                                    <li><a href="page-header-overlay2.html">Overlay 2</a></li>
                                    <li><a href="page-header-overlay3.html">Overlay 3</a></li>
                                    <li><a href="page-header-delayed-parallax.html">Delayed Parallax</a></li>
                                    <li><a href="page-header-standard-parallax.html">Standard Parallax</a></li>
                                  </ul>
                                </li>
                                <li><a href="page-full-width.html"><i class="fa fa-check-square-o"></i> Full width</a></li>
                                <li><a href="page-left-sidebar.html"><i class="fa fa-check-square-o"></i> Left Sidebar</a></li>
                                <li><a href="page-right-sidebar.html"><i class="fa fa-check-square-o"></i> Right Sidebar</a></li>
                                <li><a href="email-template.html"><i class="fa fa-envelope"></i>Email Template</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                            
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
               
              <li class="dropdown">
                <a class="dropdown-toggle" href="#">
                  Shop <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="shop-home.html">Shop - Home</a></li>
                  <li class="divider"></li>
                  <li><a href="shop-full-width.html">Shop Full Width</a></li>
                  <li><a href="shop-product-full-width.html">Shop Product Full Width</a></li>
                  <li class="divider"></li>
                  <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                  <li><a href="shop-product-sidebar.html">Shop Product Sidebar</a></li>
                  <li class="divider"></li>
                  <li><a href="shop-cart.html">Shop Cart</a></li>
                  <li><a href="shop-cc-pay.html">Shop Credit Card</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#">
                  Blog <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="blog-full-width.html">Blog Without Sidebar</a></li>
                  <li><a href="blog-left-sidebar.html">Blog With Sidebar Left</a></li>
                  <li><a href="blog-right-sidebar.html">Blog With Sidebar Right</a></li>
                  <li><a href="blog-timeline.html">Blog Timeline</a></li>
                  <li><a href="blog-masonry.html">Blog Masonry</a></li>
                  <li><a href="blog-masonry-full-width.html">Blog Masonry - Full Width</a></li>
                  <li><a href="blog-masonry-sidebar.html">Blog Masonry - Sidebar</a></li>
                  <li class="divider"></li>
                  <li><a href="blog-single-sidebar-left.html">Single Sidebar Left</a></li>
                  <li><a href="blog-single-sidebar-right.html">Single Sidebar Right</a></li>
                  <li><a href="blog-single-sidebar-no.html">Single No Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#">
                  Portfolio <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio-2-columns.html">2 Columns</a></li>
                  <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                  <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                  <li><a href="portfolio-lightbox.html">Portfolio - Gallery</a></li>
                  <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                  <li><a href="portfolio-full-center.html">Portfolio Full Center</a></li>
                  <li class="divider"></li>
                  <li><a href="portfolio-single.html">Single - Basic</a></li>
                  <li><a href="portfolio-single-extended.html">Single - Extended</a></li>
                  <li><a href="portfolio-single-full-slider.html">Single - Full Slider</a></li>
                </ul>
              </li>

              <!-- GLOBAL SEARCH -->
              <li class="search">
                <!-- search form -->
                <form method="get" action="#" class="input-group pull-right">
                  <input type="text" class="form-control" name="k" id="k" value="" placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-primary notransition"><i class="fa fa-search"></i></button>
                  </span>
                </form>
                <!-- /search form -->
              </li>
              <!-- /GLOBAL SEARCH -->

              <!-- QUICK SHOP CART -->
              <li class="quick-cart">
                <span class="badge pull-right">3</span>
                
                <div class="quick-cart-content">

                  <p><i class="fa fa-warning"></i> You have 3 products on your cart</p>

                  <a class="item" href="shop-product-full-width.html"><!-- item 1 -->
                    <img class="pull-left" src="assets/images/demo/shop/thumb/1.jpg" width="40" alt="quick cart" />
                    <div class="inline-block">
                      <span class="title">Man shirt XL</span>
                      <span class="price">2 &times; $44.00</span>
                    </div>
                  </a><!-- /item 1 -->

                  <a class="item" href="shop-product-full-width.html"><!-- item 2 -->
                    <img class="pull-left" src="assets/images/demo/shop/thumb/2.jpg" width="40" alt="quick cart" />
                    <div class="inline-block">
                      <span class="title">Great Black Shoes For Man and Only Man...</span>
                      <span class="price">2 &times; $44.00</span>
                    </div>
                  </a><!-- /item 2 -->

                  <a class="item" href="shop-product-full-width.html"><!-- item 3 -->
                    <img class="pull-left" src="assets/images/demo/shop/thumb/4.jpg" width="40" alt="quick cart" />
                    <div class="inline-block">
                      <span class="title">Pink Lady Perfect Shoes</span>
                      <span class="price">1 &times; $67.32</span>
                    </div>
                  </a><!-- /item 3 -->

                  <!-- QUICK CART BUTTONS -->
                  <div class="row cart-footer">
                    <div class="col-md-6 nopadding-right">
                      <a href="shop-cart.html" class="btn btn-primary btn-xs fullwidth">VIEW CART</a>
                    </div>
                    <div class="col-md-6 nopadding-left">
                      <a href="shop-cc-pay.html" class="btn btn-info btn-xs fullwidth">CHECKOUT</a>
                    </div>
                  </div>
                  <!-- /QUICK CART BUTTONS -->

                </div>

              </li>
              <!-- /QUICK SHOP CART -->


            </ul>
          </nav>
        </div>
        <!-- /Top Nav -->

      </div>
    </header>

    <span id="header_shadow"></span>
    <!-- /TOP NAV -->


    <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
    <i class="fa fa-frown-o"></i>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
    <%= message.html_safe %>  
    </div>
    <% end %>

    <%= yield %>


    <!-- FOOTER -->
    <footer>

      <!-- copyright , scrollTo Top -->
      <div class="footer-bar">
        <div class="container">
          <span class="copyright">Copyright &copy; Congregational Church of Jefferson Park . All Rights Reserved.</span>
          <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
        </div>
      </div>
      <!-- copyright , scrollTo Top -->


      <!-- footer content -->
      <div class="footer-content">
        <div class="container">

          <div class="row">


            <!-- FOOTER CONTACT INFO -->
            <div class="column col-md-4">
              <h3>CONTACT</h3>

              <p class="contact-desc">
                Thd Congregational Church of Jefferson Park is an open and affirming Congregation and part of the United Church of Christ                   
              </p>
              <address class="font-opensans">
                <ul>
                  <li class="footer-sprite address">
                    5320 W. Giddings St<br />
                    Chicago, Il 60630<br />
                    <br />
                  </li>
                  <li class="footer-sprite phone">
                    Phone: 1-773-725-0121
                  </li>
                  <li class="footer-sprite email">
                    <a href="mailto:support@yourname.com">ccjpucc5320@att.net </a>
                  </li>
                </ul>
              </address>

            </div>
            <!-- /FOOTER CONTACT INFO -->


            <!-- FOOTER LOGO -->
            <div class="column logo col-md-4 text-center">
              <div class="logo-content">
                <img class="animate_fade_in" src="https://d3n8a8pro7vhmx.cloudfront.net/unitedchurchofchrist/pages/9382/attachments/original/1418698030/ucc-200-bl.gif?1418698030" width="200" alt="" />
                <h4></h4>
              </div>                      
            </div>
            <!-- /FOOTER LOGO -->


            <!-- FOOTER LATEST POSTS -->
            <div class="column col-md-4 text-right">
              <h3>RECENT News</h3>

              <div class="post-item">
                <small>JANUARY 2, 2014 BY ADMIN</small>
                <h3><a href="blog-single-sidebar-left.html">Build out or delete</a></h3>
              </div>
              <div class="post-item">
                <small>JANUARY 2, 2014 BY ADMIN</small>
                <h3><a href="blog-single-sidebar-left.html">Build out or delete</a></h3>
              </div>
              <div class="post-item">
                <small>JANUARY 2, 2014 BY ADMIN</small>
                <h3><a href="blog-single-sidebar-left.html">Build out or delete</a></h3>
              </div>

              <a href="blog-masonry-sidebar.html" class="view-more pull-right">View Blog <i class="fa fa-arrow-right"></i></a>

            </div>
            <!-- /FOOTER LATEST POSTS -->

          </div>

        </div>
      </div>
      <!-- footer content -->

    </footer>
    <!-- /FOOTER -->



    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src="/assets/plugins/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery.appear.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery.isotope.js"></script>
    <script type="text/javascript" src="/assets/plugins/masonry.js"></script>

    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/stellar/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/knob/js/jquery.knob.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/superslides/dist/jquery.superslides.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/styleswitcher/styleswitcher.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
    <script type="text/javascript" src="/assets/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>

    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="/assets/plugins/slider.revolution.v4/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/slider.revolution.v4/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/assets/js/slider_revolution.js"></script>


    <script type="text/javascript" src="/assets/js/scripts.js"></script>


    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <!--<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X', 'domainname.com');
      ga('send', 'pageview');
    </script>
    -->
  </body>
</html>
